.history

dist/**
node_modules/**

/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings

/*.log

tools/deployment/release
tools/deployment/ui-tests/gaia-endpoints.js
tools/deployment/ui-tests/output/**/*.*

kibana/build.txt

webapp/styles
webapp/**/*.css
webapp/depricated/styleguide/styles

hs_err_pid*.log

server/config/version-cache

test/junit-output